.header {
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: space-between;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  padding: 10px 15px;
  margin-bottom: 20px;
}
.header .logo img {
  width: 30px;
  display: inline;
  align-self: center;
}
