@import "../common/Styles/commonStyles.scss";

.body {
    
    background-color: $mainFirstColor;
    height: 100vh;
}

.wrapperBlock {
    position: absolute;
    background-color: $mainFirstlLightColor;
    box-shadow: 0px 0px 10px  $mainFirstlDarkColor;
    border-radius: 2px;
    width: 350px;
    height: 400px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;

    .content {
        
    }

    h1 {
        text-align: center;
        color: $mainSecondColor;
        font-weight: 500;
    }
    
}

.loginImg {
    width: 400px;
    transform: translate(750px, 10px);
}

.loginBtn {
        cursor: pointer;
        background-color: $mainSecondColor;
        font-size: 16px;
        width: 100%;
        height: 40px;
        outline: none;
        border: none;
        margin-top: 20px;
        border-radius: 2px;
        &:hover {
            background-color: $mainSecondDarkColor;
            transition: 0.5s;
            
        }
    }

    .loginInput {
        outline: none;
        border-radius: 2px;
        border: none;
        width: 100%;
        height: 40px;
        margin-bottom: 20px;
        padding: 5px 10px;
        box-sizing: border-box;
        font-size: 14px;
    }

    .loginCheckbox {
        span {
            color: #fff;
        }
    }