@import "./components/common/Styles/commonStyles.scss";

.app {
  // padding: 0 15px;
}
.app-wrapper {
  // display: grid;
  // grid-template-columns: 1fr 5fr;
  // grid-column-gap: 15px;
}

.app-wrapper-content {
  padding: 0 200px;
  @media (max-width: 960px) {
    padding: 0 50px;
  }
  @media (max-width: 720px) {
    padding: 0 15px;
  }  
}