ul {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}
.app {
  padding: 0 15px;
}
.app-wrapper {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-column-gap: 20px;
}

.app-wrapper-content {
  padding: 15px;
  background-color: #DACFFF;
}
